| You are invited to participate in a dispute on Adjudicate Online.  To vote, please go to 
= link_to dispute_path(@dispute, uid: @dispute.uid), dispute_path(@dispute, uid: @dispute.uid), only_path: false
| .  If you haven't signed up yet, please do so at <a href="http://www.adjudicateonline.com">www.adjudicateonline.com</a>.