| You successfully created a dispute.  To view this dispute you can visit: 
= link_to dispute_url(@dispute, uid: @dispute.uid), dispute_url(@dispute, uid: @dispute.uid)
|.  To edit this dispute you can visit: 
= link_to edit_dispute_url(@dispute, uid: @dispute.uid), edit_dispute_url(@dispute, uid: @dispute.uid)
|.