| You successfully created a dispute.  To view this dispute you can visit: 
= link_to "www.adjudicateonline.com/disputes/#{@dispute.id}?uid=#{@dispute.uid}", "http://www.adjudicateonline.com/disputes/#{@dispute.id}?uid=#{@dispute.uid}"
|.  To edit this dispute you can visit: 
= link_to "www.adjudicateonline.com/disputes/#{@dispute.id}/edit?uid=#{@dispute.uid}", "http://www.adjudicateonline.com/disputes/#{@dispute.id}/edit?uid=#{@dispute.uid}"
|.