.whole-page
  .disputes-background
  .disputes-container
    .dispute-main-header
      h3
        |Rules Of Arbitration
    .container
      |1. Introduction
      .container
        | Adjudicate offers dispute resolution process, including, without limitation an informal, 
        voluntary, and crowd-sourced process, for online take-down requests and other 
        matters.  Parties with disputes including those regarding content posted online 
        may use the Adjudicate platform as a means of determining whether the content should 
        be removed, modified, or may otherwise remain online.  Adjudicate aims to maintain an 
        efficient, quick, and affordable online venue to Internet users of all types.

    .container
      |2. Initiating The Process
      .container
        |The person seeking to have content removed from a website (the “claimant”) initiates the process 
        by submitting a request to Adjudicate. The claimant will be required to provide a description of the request to 
        Adjudicate, as well as to pay the initial request fee of ninety dollars ($90).  Adjudicate will then notify the person 
        who has posted the content (“respondent”) of the request.



    .container
      |3. Submittal Of Evidence
      .container
        |Once a request has been accepted by Adjudicate, both the claimant, respondent, and other disputants (collectively "disputants") will have the opportunity to submit supporting evidence to Adjudicate.  Evidence may include documents, 
        text, video, photographs, screen shots, and audio.  Disputants will be limited to uploading 20 mb of evidence.  
        All disputants will be able to see all Evidence submitted by all parties. 

    .container
      |4. Arbitration Panel
      .container
        |Requests and evidence will be sent to a panel of Adjudicate arbitrators (“panel”).  
        The arbitrators on the panel are randomly selected from Adjudicate’s trained and experienced pool of arbitrators.  
        All arbitrators have agreed to keep all information confidential.  

    .container
      |5. Adjudicate's Arbitration Process
      .container
        |The panel will review all information and evidence submitted with each request 
        and will vote on an outcome.  Unless otherwise notified, disputants should not 
        anticipate communicating directly with any members of the panel.  The process is 
        expected to take less than 30 days.


    .container
      |6. Award
      .container
        |Upon completion of the request, the panel’s decision will be provided to the disputants by e-mail.  
        The decision will include the panel’s decision (i.e. takedown request granted, denied, etc.), as well as a brief, 
        one page opinion specifying the rationale for the decision attached in PDF format.

    .container
      |7. Arbitrator Compensation
      .container
        |Arbitrators shall be compensated in accordance with the quality of their decisions and 
        written opinions.


    .container
      |8. Enforceability
      .container
        |.  Although Adjudicate does not provide legal advice or opinions, an award issued by the Adjudicate panel is intended 
        to be binding on the Parties and the Parties may seek to enforce the award through other means.  

    .container
      |9. Modification Of Rules
      .container
        |These rules may be modified at any time in Adjudicate’s discretion.  
        The rules applicable to any dispute will be the rules in effect at the time of the filing of the dispute.  

  
