.disputes-container{
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}
.new-dispute-form{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.new-dispute-form input {
  display: block;
  width: 80%;
  margin: 10px auto;
}
.dispute-main-header{
  text-align: center;
  color: #6f6f6f;
}
.upload-documents-container{
  width: 300px;
  margin: 15px auto;
  border: 1px solid lightblue;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.upload-documents-container input{
  padding-left: 30px;
}
.edit-dispute-text{
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 100px;
}
.edit-dispute-btn{
  margin: 0 auto;
  width: 120px;
}
.edit-dispute-fields textarea{
  resize: none;
}
.dispute-list{
  width: 80%;
  margin: 0 auto;
}
.dispute-list-item{
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
}
.thank-you-container {
  margin-top: 20px;
}