

.header-logo{
  height: 40px;
}

#user_role{
  display: none;
}

.disputes-background {
  background-image: image-url('brickwall_cropped_2.jpg');
  background-size: cover;
  opacity: .7;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.disputes-container{
  background-color: #f8f8f8;
  opacity: 0.9;
  margin: 70px;
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: 450px;

  

  h5 {
    text-align: center;
  }
  h3 {
   padding: 10px;
  }
}

.pay-descript{
      background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 10px;
    text-align: center;
}

.pay-middle-col{
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
}

.pay-header{
  color: #6f6f6f;
  margin: auto;
  width: 60%;
  padding: 10px;
}


.new-dispute-form{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.new-dispute-form input {
  display: block;
  width: 80%;
  margin: 10px auto;
}
.dispute-main-header{
  text-align: center;
  color: #003e7b;
}
.upload-documents-container{
  width: 300px;
  margin: 15px auto;
  border: 1px solid lightblue;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.upload-documents-container input{
  padding-left: 30px;
}
.edit-dispute-text{
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 100px;
}

/*.edit-dispute-fields textarea{
  resize: none;
}*/
.dispute-list{
  width: 80%;
  margin: 0 auto;
  color: #003e7b;
}
.dispute-list-item{
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
}
.thank-you-container {
  margin-top: 20px;
}
.new-comment-form {
  textarea {
    height: 7em;
    width: 100%;
  }
}

.submit-btn {
    margin: auto;
    display: block !important;
}

.dispute-title {
  display: inline-block;
  margin-left: 0;
  color: #003e7b;
}
.edit-dispute-btn {
  float: right;
  width: 130px;
  margin: 5px;
}
.delete-dispute-btn {
  float: right;
  width: 130px;
  margin: 5px;
}





