.home-background {
  background-image: image-url('temp-background.jpg');
  background-size: cover;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.home-container {
  position: relative;
}
.home-content {
  z-index: 100;
}