.home-background {
  background-image: image-url('brickwall.jpg');
  background-size: cover;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.home-content {
  z-index: 100;
}
.sign-up-form {
  width: 300px;
  margin: 30px auto;
  background-color: white;
  padding: 5px 30px;
  border: 1px solid lightblue;
  border-radius: 10px;
}
.signup-checkbox {
  width: 10px !important;
  margin: 0 5px !important;
}
.text-backdrop {
  background-color: rgba(200, 200, 200, 0.6);
  padding: 10px;
  border-radius: 10px;
}
.adjudicate-logo {
  width: 30%;
  height: 30%;
  margin: 20px auto 0 auto;
  display: block;
}
#new-dispute-btn {
  text-align: center;
  margin: auto;
  display: block;
}