
.whole-page{
  min-height: 525px;
}

.footer{
  margin-bottom: 0 !important;
  height: 100px;
}
.content-container {
  padding-left: 15px;
  padding-right: 15px;
}
.main-title {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}
.no-bottom-margin {
  margin-bottom: 0px !important;
}
.form-h2 {
  margin-top: 0px;
  text-align: center;
}
.sign-up-fields input {
  width: 220px;
  margin: 5px;
}
.toggle-entry {
  text-decoration: underline;
  padding-left: 90px;
}
.signup-checkbox {
  width: 10px;
  margin: 0 5px;
}

.top-nav{
  height: 80px;
  width: 100%;
 
}

.header-logo{
  position: absolute;
  top: 10px;
}
.nav-links{
  padding-top: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}
.nav-link{
  color: #003e7b !important;
  line-height: 2.5;
}

.footer{
  margin-top: 30px;
  font-size: 13px;
}

.footer-logo{
  margin: 20px 0 0 0;
  width: 120px;
}

.footer-right{
  font-size: 10px;
  margin-right: 20px;
}

.footer-left{
  margin: 10px 0 0 50px;

}

.footer-middle{
  margin: 10px 0 0 0;
  border-left: 1px solid;
  border-color: #003e7b;
}








