.content-container {
  padding-left: 15px;
  padding-right: 15px;
}
.main-title {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}
.no-bottom-margin {
  margin-bottom: 0px !important;
}
.form-h2 {
  margin-top: 0px;
  text-align: center;
}
.sign-up-fields input {
  width: 220px;
  margin: 5px;
}
.toggle-entry {
  text-decoration: underline;
  padding-left: 90px;
}
.signup-checkbox {
  width: 10px;
  margin: 0 5px;
}